ext/Makefile
ext/curb.o
ext/curb_core.so
ext/curb_core.bundle
ext/curb_easy.o
ext/curb_errors.o
ext/curb_multi.o
ext/curb_postfield.o
ext/curb_upload.o
ext/curb_config.h
pkg/
ext/mkmf.log
*scratch.rb
tests/server_lock*
hs_err_pid*.log
